.radial_button_base {
    width: 100%;
    height: 51px;
    margin: -1.5px;
}

.radial_button_border {
    height: 100%;
    border-width: 3px;
    border-color: var(--color-outline);
    cursor: pointer;
    transition:
        transform 0.08s cubic-bezier(0.2, 0, 0, 1),
        height 0.08s cubic-bezier(0.2, 0, 0, 1);
}

.radial_button_border.selected {
    transform: translateY(5px);
    height: calc(100% - 5px);
}

.radial_button_top {
    height: calc(100% - 5px);
    border-width: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        height 0.08s cubic-bezier(0.2, 0, 0, 1),
        background-color 0.08s cubic-bezier(0.2, 0, 0, 1),
        border-color 0.08s cubic-bezier(0.2, 0, 0, 1);
}

.radial_button_top.selected {
    height: 100%;
}

.radial_button_text {
    font-family: "Minecraft-Seven", sans-serif;
    font-size: 16px;
}

.radial_button_text.selected {
    color: var(--color-text);
}

.radial_button_side {
    height: 5px;
    transition: height 0.08s cubic-bezier(0.2, 0, 0, 1);
}

.radial_button_side.selected {
    height: 0;
}

@media (prefers-color-scheme: dark) {
    .radial_button_top {
        border-top-color: #6d6d6e;
        border-left-color: #6d6d6e;
        border-right-color: var(--color-surface-hover);
        border-bottom-color: var(--color-surface-hover);
        background-color: var(--color-surface);
    }

    .radial_button_side {
        background-color: var(--color-surface-sunken);
    }

    .radial_button_text {
        color: var(--color-text);
    }

    .radial_button_top:hover {
        border-color: #68686a;
        background-color: var(--color-border);
    }

    .radial_button_top.selected {
        border-top-color: var(--color-surface-hover);
        border-left-color: var(--color-surface-hover);
        border-right-color: #454647;
        border-bottom-color: #454647;

        background-color: var(--color-surface-sunken);
    }
}

@media (prefers-color-scheme: light) {
    .radial_button_top {
        border-top-color: #ecedee;
        border-left-color: #ecedee;
        border-right-color: #e3e3e5;
        border-bottom-color: #e3e3e5;

        background-color: #d0d1d4;
    }

    .radial_button_side {
        background-color: var(--color-border);
    }

    .radial_button_text {
        color: var(--color-outline);
    }

    .radial_button_top:hover {
        border-top-color: #eff0f0;
        border-left-color: #eff0f0;
        border-right-color: #e0e0e1;
        border-bottom-color: #e0e0e1;

        background-color: #b1b2b5;
    }

    .radial_button_top.selected {
        border-top-color: var(--color-confirm-light);
        border-left-color: var(--color-confirm-light);
        border-right-color: var(--color-confirm-mid);
        border-bottom-color: var(--color-confirm-mid);

        background-color: var(--color-confirm);
    }
}
