.button-container {
    width: var(--mc-button-container-w);
    height: var(--mc-button-container-h);
    display: flex;
    align-items: end;
    cursor: pointer;
    margin: 0px;
}

.button-container *,
.button-container *::before,
.button-container *::after {
    transition: all 0.075s ease;
}

.button-real-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: var(--mc-button-container-border-width);
    border-color: var(--mc-button-container-border-color);
    box-sizing: border-box;
}

.button-real-container::after {
    content: "";
    display: block;
    width: 100%;
    height: var(--mc-button-shadow-size);
    background-color: var(--mc-button-real-container-border-color);
}

.button-real-container:hover .button-base {
    background-color: var(--mc-button-base-hover-bg-color);
}

.button-real-container:active {
    height: calc(100% - var(--mc-button-shadow-size));
}

.button-real-container:active::after {
    height: 0;
}

.button-base {
    width: 100%;
    height: 100%;
    background-color: var(--mc-button-base-bg-color);
    border-left: 2px solid var(--mc-button-base-topleft-border-color);
    border-top: 2px solid var(--mc-button-base-topleft-border-color);
    border-bottom: 2px solid var(--mc-button-base-bottomright-border-color);
    border-right: 2px solid var(--mc-button-base-bottomright-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-text {
    font-family: 'Minecraft-Seven', sans-serif;
    font-size: 16px;
    color: var(--mc-button-text-color);
    text-align: center;
}