.text-input-label {
    color: white;
    font-size: 14px;
}

.text-input-box {
    border: 3px solid #1E1E1F;
    height: 25px;
    background-color: #313233;
}

.text-input-control {
    width: 100%;
    outline: none;
    background-color: transparent;
    transform: translateY(1px);
    padding-left: 4px;
    color: white;
    font-size: 12px;
}