.button_base {
  width: 100%;
  height: 51px;
}

.button_border {
  height: 100%;
  border-width: 3px;
  border-color: #1e1e1f;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .button_border {
    border-color: #1e1e1f;
  }
}

@media (prefers-color-scheme: light) {
  .button_border {
    border-color: #b1b2b5;
  }
}

.button_border:active {
  transform: translateY(5px);
  height: calc(100% - 5px);

  .button_top {
    height: 100%;
  }

  .button_side {
    height: 0;
  }
}

.button_top {
  height: calc(100% - 5px);
  border-width: 3px;
  border-color: #4f913c;
  background-color: #3c8527;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_top.warn {
  border-color: #cf4a4a;
  background-color: #ca3636;
}

.button_top:hover {
  background-color: #2a641c;
}

.button_top.warn:hover {
  background-color: #c02d2d;
}

.button_text {
  font-family: 'Minecraft-Seven', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.button_side {
  background-color: #1d4d13;
  height: 5px;
}

.button_side.warn {
  background-color: #ad1d1d;
}
