@import url('./titlebar.css');
@import url('./toggle.css');
@import url('./background_image.css');
@import url('./radial_button.css');
@import url('./button.css');
@import url('./scrollbar.css');
@import url('./panel.css');
@import url('./list.css');
@import url('./text.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  outline: none;
}

.pixelated {
  image-rendering: pixelated;
}

.container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #313233;
}

img {
  -webkit-user-drag: none;
}
