.toggle_panel.large {
    position: relative;
    width: 76px;
    height: 36px;
    cursor: pointer;
}

.toggle_panel {
    position: relative;
    width: 56px;
    height: 26px;
    cursor: pointer;
}

.toggle_base {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-color: #1E1E1F;
}

.toggle_base_off.large, .toggle_base_on.large {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 30px;

    border-width: 3px;
}

.toggle_base_off, .toggle_base_on {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 20px;

    border-width: 3px;
}

.toggle_base_off {
    background-color: #8C8D90;
    border-color: #A3A4A6;

    border-left-color: #1E1E1F;
}

.toggle_base_on {
    background-color: #3C8527;
    border-color: #639D52;

    border-right-color: #1E1E1F;
}

.toggle_base_off_image.large {
    width: 14px;
    height: 14px;

    image-rendering: pixelated;
}

.toggle_base_off_image {
    width: 8px;
    height: 8px;

    image-rendering: pixelated;
    display: none;
}

.toggle_base_on_image.large {
    height: 14px;

    image-rendering: pixelated;
}

.toggle_base_on_image {
    height: 8px;

    image-rendering: pixelated;
    display: none;
}

.toggle.large {
    position: absolute;
    width: 41px;
    height: 41px;

    background-color: #D0D1D4;

    border-width: 3px;
    border-color: #1E1E1F;

    transform: translateY(-5px);
}

.toggle {
    position: absolute;
    width: 31px;
    height: 31px;

    background-color: #D0D1D4;

    border-width: 3px;
    border-color: #1E1E1F;

    transform: translateY(-5px);
}

.toggle_top.large {
    width: 35px;
    height: 30px;

    border-color: #ECEDEE;
    border-width: 3px;
}

.toggle_top {
    width: 25px;
    height: 20px;

    border-color: #ECEDEE;
    border-width: 3px;
}

.toggle_top:hover {
    background-color: #B1B2B5;
}

.toggle_side.large {
    height: 5px;
    width: 35px;
    background-color: #58585A;
}

.toggle_side {
    height: 5px;
    width: 25px;
    background-color: #58585A;
}

.toggle-anim-on, .toggle-anim-off {
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: step-start
}

.toggle-anim-on.large {
    animation-name: anim-on-large
}

.toggle-anim-on {
    animation-name: anim-on
}

.toggle-anim-off.large {
    animation-name: anim-off-large
}

.toggle-anim-off {
    animation-name: anim-off
}

@keyframes anim-on-large {
    0% {
        left: 0
    }

    25% {
        left: 10px;
        /* width: 48px */
    }

    50% {
        left: 35px;
        /* width: 44px */
    }

    75% {
        left: 32px
    }

    to {
        left: 35px
    }
}

@keyframes anim-on {
    0% {
        left: 0
    }

    25% {
        left: 5px;
        /* width: 38px */
    }

    50% {
        left: 25px;
        /* width: 34px */
    }

    75% {
        left: 22px
    }

    to {
        left: 25px
    }
}

@keyframes anim-off-large {
    0% {
        right: 0
    }

    25% {
        right: 10px;
        /* width: 48px */
    }

    50% {
        right: 35px;
        /* width: 44px */
    }

    75% {
        right: 32px
    }

    to {
        right: 35px
    }
}

@keyframes anim-off {
    0% {
        right: 0
    }

    25% {
        right: 5px;
        /* width: 38px */
    }

    50% {
        right: 25px;
        /* width: 34px */
    }

    75% {
        right: 22px
    }

    to {
        right: 25px
    }
}