.launcher-page {
    position: relative;
    width: 100%;
    height: 100%;
}

.launcher-error-banner {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: #CA3636;
    width: 100%;
    border: 3px solid #CF4A4A;
    justify-content: space-between;
    align-items: center;
}

.launcher-error-body {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
}

.launcher-error-icon {
    width: 24px;
    height: 24px;
}

.launcher-error-text {
    color: #FFFFFF;
    font-size: 16px;
}

.launcher-error-actions {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    justify-content: right;
    align-items: center;
}

.launcher-error-close {
    cursor: pointer;
    padding: 4px;
}

.launcher-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.launcher-disclaimer {
    background-color: #0c0c0cc5;
    width: fit-content;
    margin-left: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.launcher-disclaimer-text {
    color: white;
    padding: 0 4px;
    font-size: 13px;
}

.launcher-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: 3px solid #1E1E1F;
    padding: 8px;
    background-color: #48494A;
}

.launcher-profile-select {
    width: 30%;
    margin-top: auto;
}

.launcher-play {
    width: 70%;
}
