.profile-editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    border: 3px solid #1E1E1F;
    background-color: #48494A;
}

.profile-editor-settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-editor-invalid-mods {
    color: #f87171;
    font-size: 16px;
}

.profile-editor-vanilla {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.profile-editor-vanilla-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-editor-mods {
    background-color: #48494a;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.profile-editor-column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-editor-column-title {
    color: white;
    font-size: 14px;
}

.profile-editor-mod-list {
    border: 3px solid #1E1E1F;
    background-color: #313233;
    flex-grow: 1;
}

.profile-editor-actions {
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 8px;
}

.profile-editor-actions * {
    flex: 1;
}

.profile-editor-mod-card {
    margin: -3px;
    border: 3px solid #1E1E1F;
}

.profile-editor-mod-card-inner {
    cursor: pointer;
    border: 3px solid;
    border-top-color: #5a5b5c;
    border-left-color: #5a5b5c;
    border-bottom-color: #333334;
    border-right-color: #333334;
    background-color: #48494a;
    padding: 4px;
}

.profile-editor-mod-exists {
    color: white;
}

.profile-editor-mod-missing {
    color: #f87171;
}
