@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

@font-face {
    font-family: 'Minecraft-Ten';
    src: url('../public/fonts/Minecraft-Ten.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft-Seven';
    src: url('../public/fonts/Minecraft-Seven.ttf') format('truetype');
}

.minecraft-seven {
    font-family: "Minecraft-Seven";
    image-rendering: crisp-edges;
    letter-spacing: .5px;
}

.minecraft-ten {
    font-family: "Minecraft-Ten";
    image-rendering: crisp-edges;
    letter-spacing: .1px;
}

.pixelated {
    image-rendering: pixelated;
}

.toggle-transform {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}