@import url("styles/titlebar.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

@font-face {
    font-family: 'Minecraft-Ten';
    src: url('../public/fonts/Minecraft-Ten.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft-Seven';
    src: url('../public/fonts/Minecraft-Seven.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft-Five';
    src: url('../public/fonts/extra/Minecraft-Five.otf') format('opentype');
}

.minecraft-seven {
    font-family: "Minecraft-Seven";
    image-rendering: auto;
    letter-spacing: .5px;
}

.minecraft-ten {
    font-family: "Minecraft-Ten";
    image-rendering: auto;
    letter-spacing: .1px;
}

.pixelated {
    image-rendering: pixelated;
}

.toggle-anim-on, .toggle-anim-off {
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: step-start
}

.toggle-anim-on {
    animation-name: anim-on
}

.toggle-anim-off {
    animation-name: anim-off
}

@keyframes anim-on {
    0% {
        left: 0px
    }

    25% {
        left: 10px;
        width: 48px
    }

    50% {
        left: 35px;
        width: 44px
    }

    75% {
        left: 32px
    }

    to {
        left: 35px
    }
}

@keyframes anim-off {
    0% {
        right: 0px
    }

    25% {
        right: 10px;
        width: 48px
    }

    50% {
        right: 35px;
        width: 44px
    }

    75% {
        right: 32px
    }

    to {
        right: 35px
    }
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}