@import url("styles/titlebar.css");
@import url("styles/switch.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

@font-face {
    font-family: 'Minecraft-Ten';
    src: url('../public/fonts/Minecraft-Ten.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft-Seven';
    src: url('../public/fonts/Minecraft-Seven.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft-Five';
    src: url('../public/fonts/extra/Minecraft-Five.otf') format('opentype');
}

.minecraft-seven {
    font-family: "Minecraft-Seven";
    image-rendering: auto;
    letter-spacing: .5px;
}

.minecraft-ten {
    font-family: "Minecraft-Ten";
    image-rendering: auto;
    letter-spacing: .1px;
}

.pixelated {
    image-rendering: pixelated;
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}